[Unit]
Description=VSCode Server

[Service]
ExecStart=code-server --auth none --user-data-dir %h/.config/Code --extensions-dir %h/.vscode/extensions

[Install]
WantedBy=default.target
