[color]
	ui = auto
[alias]
	co = checkout
	st = status
	di = diff -w --no-prefix
	df = diff
	dc = diff --cached
	ci = commit
	br = branch
	lg = log -p --decorate=full --show-signature
	lol = log --graph --decorate=full --pretty=oneline --abbrev-commit
	lola = log --graph --decorate=full --pretty=oneline --abbrev-commit --all
	ls = ls-files
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
[apply]
	whitespace = nowarn
[push]
	default = tracking
[rebase]
	stat = yes
[format]
	pretty = fuller
[fetch]
	prune = yes
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[core]
	autocrlf = input
[branch]
	# 0 times I wanted this when doing "git checkout".
	autoSetupMerge = false
	# Set up new branches in a way that "git pull" does a rebase by default.
	autoSetupRebase = always
[gpg]
	format = ssh
[commit]
	gpgsign = true


# Must always go last, to be able to override the settings above.
[include]
	path = ~/.config/gitconfig_local
