xterm*foreground: #bbbbbb
xterm*background: #000000
xterm*renderFont: true
xterm*faceName: Terminus
xterm*faceSize: 12
xterm*termName: xterm-256color
xterm*saveLines: 409600
xterm*VT100.geometry: 80x32
xterm*bellIsUrgent: true
xterm*borderWidth: 0
xterm*loginShell: true
xterm*utf8Title: true
xterm*allowC1Printable: true
xterm*locale: true
xterm*metaSendsEscape: true
