urxvt*foreground: #bbbbbb
urxvt*background: #000000
urxvt*saveLines: 409600
urxvt*VT100.geometry: 80x32
urxvt*bellIsUrgent: true
urxvt*borderWidth: 0
urxvt*loginShell: true
urxvt*allowC1Printable: true
urxvt*metaSendsEscape: true
urxvt*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
urxvt*font: -misc-fixed-medium-r-*-*-18-*-*-*-*-*-iso10646-1
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/chromium
urxvt.matcher.button: 1
*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
