Port 2222
ListenAddress localhost

# Point to our generated host keys
HostKey ~/.ssh/ephemeral_sshd/ssh_host_ed25519_key

# Use standard public key authentication
AuthorizedKeysFile ~/.ssh/ephemeral_sshd/authorized_keys

UsePAM no
PidFile ~/.ssh/ephemeral_sshd/sshd.pid

# Disable less secure authentication methods
PasswordAuthentication no
ChallengeResponseAuthentication no
